{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8"
        }
      }
    ]
  ],
  "plugins": [
    "lodash"
  ],
  "env": {
    "es": {
      "comments": false,
      "minified": false
    },
    "commonjs": {
      "comments": false,
      "minified": true
    }
  }
}
