{
  "presets": ["env"],
  "plugins": [
    "lodash"
  ],
  "env": {
    "es": {
      "comments": false,
      "minified": true
    },
    "commonjs": {
      "comments": false,
      "minified": true
    }
  }
}
