node_modules
lib
lib-esm
dist
es
**/cypress/config.json
**/cypress.env.json
**/serviceAccount.json
*.log*
.nyc_output/**
coverage/**
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
examples/*/.yarn/*
!examples/*/.yarn/patches
!examples/*/.yarn/plugins
!examples/*/.yarn/releases
!examples/*/.yarn/sdks
!examples/*/.yarn/versions
