node_modules
lib
lib-esm
dist
es
**/cypress/config.json
**/cypress.env.json
**/serviceAccount.json
*.log*
.nyc_output/**
coverage/**
**/*.eslintcache
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions