name: NPM Package Publish

on:
  push:
    branches:
      - main
      - next
      - beta
      - alpha
      - '[0-9]+.x' # maintenance releases

concurrency:
  group: publish-${{ github.ref }}

env:
  NODE_VERSION: 14.x

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use Node ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'yarn'
          registry-url: https://registry.npmjs.org/

      - name: Get cache settings
        id: cache-settings
        run: |
          echo "::set-output name=firebase-tools::$(yarn list -s --depth=0 --pattern firebase-tools | tail -n 1 | sed 's/.*@//g')"

      - name: Cache Firebase Emulator Binaries
        uses: actions/cache@v2
        with:
          path: ~/.cache/firebase/emulators
          key: ${{ runner.os }}-firebase-${{ steps.cache-settings.outputs.firebase-tools }}

      - name: Configure package manager
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          npm config set '//registry.npmjs.org/:_authToken' ${{ env.NPM_TOKEN }}
          npm whoami

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Check For Lint
        run: yarn lint

      - name: Run Unit Tests + Coverage
        run: yarn test:cov

      - name: Run Build
        run: yarn build

      # Skipped due to Error: "npm ERR! Missing script: "size-build""
      # - name: Size Check
      #   uses: andresz1/size-limit-action@v1.0.0
      #   env:
      #     CI_JOB_NUMBER: 1
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Size Check
        run: $(yarn bin)/size-limit

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          branches: |
            [
              '+([0-9])?(.{+([0-9]),x}).x',
              'main',
              'next',
              {name: 'beta', prerelease: true},
              {name: 'alpha', prerelease: true}
            ]

      - name: Upload Test Coverage
        uses: codecov/codecov-action@v2
        with:
          fail_ci_if_error: true
