name: NPM Package Publish

on:
  push:
    branches:
      - master
      - next
      - alpha

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Check if version has been updated
        id: check
        uses: EndBug/version-check@v2

      - name: Use Node 14
        if: steps.check.outputs.changed == 'true'
        uses: actions/setup-node@v2.2.0
        with:
          node-version: 14
          registry-url: https://registry.npmjs.org/

      - name: Get cache settings
        id: cache-settings
        run: |
          echo "::set-output name=dir::$(yarn cache dir)"
          echo "::set-output name=firebase-tools::$(yarn list -s --depth=0 --pattern firebase-tools | tail -n 1 | sed 's/.*@//g')"
          
      - name: Cache Yarn Dependencies
        if: steps.check.outputs.changed == 'true'
        uses: actions/cache@v2.1.6
        with:
          path: ${{ steps.cache-settings.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ matrix.app }}-${{ hashFiles('yarn.lock') }}

      - name: Cache Firebase Emulator Binaries
        if: steps.check.outputs.changed == 'true'
        uses: actions/cache@v2.1.6
        with:
          path: ~/.cache/firebase/emulators
          key: ${{ runner.os }}-firebase-${{ steps.cache-settings.outputs.firebase-tools }}

      - name: Install Dependencies
        if: steps.check.outputs.changed == 'true'
        run: yarn install --frozen-lockfile

      - name: Check For Lint
        if: steps.check.outputs.changed == 'true'
        run: yarn lint

      - name: Run Unit Tests + Coverage
        if: steps.check.outputs.changed == 'true'
        env:
          CODE_CLIMATE: ${{ secrets.CODE_CLIMATE }}
        run: yarn test:cov

      - name: Run Build
        if: steps.check.outputs.changed == 'true'
        run: yarn build

      # Skipped since yarn isn't supported
      # - name: Size Check
      #   uses: andresz1/size-limit-action@v1.0.0
      #   env:
      #     CI_JOB_NUMBER: 1
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Size Check
        if: steps.check.outputs.changed == 'true'
        run: $(yarn bin)/size-limit

      - name: Publish
        if: steps.check.outputs.changed == 'true'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_REF: ${{ github.ref }}
        run: |
          gitBranch=${GITHUB_REF##*/}
          packageVersion=$(cat package.json | jq -r '.version')
          publishFlag=$(if [ "$GITHUB_REF" != 'refs/heads/master' ]; then eval echo '--tag $gitBranch'; else echo ''; fi;)
          echo "PACKAGE_VERSION=$packageVersion" >> $GITHUB_ENV
          npm publish $publishFlag

      - name: Archive Build Artifact
        if: steps.check.outputs.changed == 'true'
        uses: actions/upload-artifact@v2
        with:
          name: build
          path: lib

      - name: Upload Test Coverage
        uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: true

      - name: Create Release
        if: steps.check.outputs.changed == 'true'
        id: create_release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tag_name: v${{ env.PACKAGE_VERSION }}
          release_name: v${{ env.PACKAGE_VERSION }}
          draft: false
          prerelease: github.ref != 'refs/heads/master'
