name: Verify

on: [pull_request]

concurrency:
  group: verify-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Get cache settings
        id: cache-settings
        run: |
          fbToolsVersion=$(yarn info firebase-tools --json --name-only | sed 's/.*@npm\://g' | sed 's/"$//')
          echo "firebase-tools version $fbToolsVersion"
          echo "firebase-tools=$fbToolsVersion" >> $GITHUB_OUTPUT

      - name: Cache Firebase Emulator Binaries
        uses: actions/cache@v3
        with:
          path: ~/.cache/firebase/emulators
          key: ${{ runner.os }}-${{ matrix.node-version }}-firebase-${{ steps.cache-settings.outputs.firebase-tools }}

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Check For Lint
        run: yarn lint

      - name: Check Formatting
        run: yarn format:check

      - name: Run Unit Tests + Coverage
        run: yarn test:cov

      - name: Upload Test Coverage
        uses: codecov/codecov-action@v3
        if: matrix.node-version == '20.x'
        with:
          fail_ci_if_error: false

      - name: Run Build
        run: yarn build

      - name: Size Check
        uses: andresz1/size-limit-action@v1
        env:
          CI_JOB_NUMBER: 1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          skip_step: build # Skip install and build since they happen above
